logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*
.firebase/
firebase.json
.firebaserc
node_modules/
.npm
.node_repl_history
*.tgz
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
empty/