body {
    font-family: Inter;
    font-size: 22px;
    --nav-width: 50px;
    margin: 0;
}

a {
    text-decoration: none;
}

#home-banner {
    background-color: green;
}

.nav {
    display: flex;
    justify-content: flex-start !important;
    z-index: 20 !important;
    margin-left: 20vw;
    width: 60vw;
    height: var(--nav-width);
    background: #222222;
    border-radius: 0 0 7px 7px;
}

.nav__brand {
    width: auto;
    height: 64px;
    margin: 4px 0 0 4px;
}

.nav__link {
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.last-element-row{
    margin-left: auto;
}

.smallNav {
    display: none;
    background: #222222;
}

#hamburger {
    height: 64px;
    cursor: pointer;
}

.smallNav_links {
    display: flex;
    flex-direction: column;
}
.smallNav_links > a {
    font-size: 48px;
}

#aboutme {
    padding: 5em 25vw 3em 25vw;
    line-height: 1.5;
    font-weight: 500;
}

.feed_list {
    list-style: none;
}

.feed_item {
    background-color: rgba(150, 255, 150, 0.5);
    padding: 10px;
    width: 70vw;
    border: black solid 1px;
    border-radius: 7px;
    margin-bottom: 1em;
}

.feed_author {
    margin: 0;
    display: flex;
    align-items: center;
}

.feed_author > img {
    width: auto;
    height: 48px;
    margin-right: 5px;
}

.feed_date {
    margin-left: 4px;
    font-size: 14px;
}

.feed_image {
    max-width: 60vw;
}

.feed_noImage {
    display: none;
}

.hidden {
    display: none;
}

.overflow-hidden{
    overflow: hidden;
}

@media screen and (max-width: 938px) {
    body {
        --nav-width: 70px;
    }
    #app {
        margin: 10px;
    }
    .feed_item {
        width: 95%;
    }
    .feed_list {
        padding-inline-start: 0;
    }
}
@media screen and (max-width: 697px) {
    .nav {
        display: none;
    }
    .smallNav {
        display: flex;
    }
}