@font-face {
  font-family: 'Big Noodle';
  src: url('/font/big_noodle_titling.ttf');
}

body {
  font-family: 'Big Noodle', sans-serif !important;
  letter-spacing: 1.5px;
  font-size: 18px;
  overflow: hidden;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/arminmiau-website.appspot.com/o/Summer%2BNight%2BOn%2BSigma%2B957%2B-%2B1080p.jpg?alt=media');
  position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
