---
title: Contact - arminmiau
layout: 'base.njk'
---

<h1>Discord</h1>
<h2>arminmiau#8263</h2>
<p>
    <p><strong>DMs open!</strong></p>
    <p>🟢online - responding to dms asap</p>
    <p>🔵playing Game - could take a bit till respond</p>
    <p>🟡away - respond once back again</p>
    <p>⚫offline - might respond mobile</p>
</p>
<hr>
<h1>E-Mail</h1>
<h2>arminmiau.dev@gmail.com</h2>