---
title: For Devs - arminmiau
layout: 'base.njk'
---

<h2>Programming languages that I know</h2>
<ul>
    <li>C#</li>
    <li>Java</li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>HTML|CSS</li>
</ul>
<p>First I learned some Java basics, then some other stuff.</p>
<p>Currently at school I learn Java and knowing the language before attending a programming school where you learn that language makes it very easy.</p>
<h2>What type of projects I'm interested to build in the future</h2>
<ul>
    <li>Unity Games</li>
</ul>

<style>
    body {
        font-family: "Ubuntu", sans-serif;
    }
</style>