---
title: Feed - arminmiau
layout: 'base.njk'
---

<h1>My Feed</h1>

<ul role="list" class="feed_list">
    {%- for post in collections.post | reverse -%}
    <li class="feed_item">
        <p class="feed_author"><img src="/img/ppic.png"> arminmiau · <date class="feed_date">{{ post.data.date | postDate }} </date></p>
        <p>{{ post.data.description | safe }}</p>
        <img src="{{ post.data.image }}" class="feed_image">
    </li>
    {%- endfor -%}
</ul>

<script>
    let feedImages = document.getElementsByClassName("feed_image")
    for (let i = 0; i < feedImages.length; i++) {
        let feedImage = feedImages.item(i)
        if (feedImage.src.endsWith("/feed/"))
            feedImage.classList.add("feed_noImage")
    }
</script>