---
title: For Gamers - arminmiau
layout: 'base.njk'
---

<a href="https://steamcommunity.com/id/crafticathd/" target="_blank"><h1>My Steam Profile</h1></a>
<h1>Recently played games:</h1>
<ul>
    <li>Overwatch</li>
    <li>Battlefield 1</li>
    <li>For the King</li>
</ul>

<style>
    body {
        font-family: "Segoe UI Symbol", sans-serif;
    }
</style>