---
title: arminmiau
layout: 'base.njk'
---

<h1>Hello!</h1>
<p>I'm Armin, I'm from Austria and I am 16 years old. I like to code and game. In fact I coded this site myself (with a bit help of online tutorials of course). :)</p>
<p>Why I make this site? Just for fun, practice and isn't having your own site cool? :D</p>
<p>For the gamer people arround here there is a subpage for gamers, for the devs arround here there is also a subpage, additionally there is a feed where I might post some stuff.</p>
<p>(This site is beeing worked on still)</p>